use flake
mkdir -p ${PWD}/.githooks
git config set core.hooksPath "${PWD}/.githooks"
chmod +x ${PWD}/build-scripts/*.sh
mkdir -p ${PWD}/slop/scratch
rm -f ${PWD}/.claude/skills/factorio-research/SKILL.md
ln -s ${PWD}/slop/SKILLS/factorio-research.md ${PWD}/.claude/skills/factorio-research/SKILL.md